Step Function.txt
{
  "Comment": "Transaction Processing State Machine",
  "StartAt": "ProcessTransaction",
  "States": {
    "ProcessTransaction":{
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TransactionType",
          "StringEquals": "PURCHASE",
          "Next":"ProcessPurchase"
        },
        {
          "Variable": "$.TransactionType",
          "StringEquals": "REFUND",
          "Next": "ProcessRefund"
        }
      ]
    },"ProcessRefund": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:787098058239:function:Lambda_POC_Refund",
      "End": true
    },
    "ProcessPurchase": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:787098058239:function:Lambda_POC_Purchase",
      "End": true
    }
  }
}
